*.o
dhtool/dhtool
examples/echo/echo
examples/hello_world/hello_world
examples/hello_world_c2/hello
examples/libsodium/libsodium
examples/minigzip/minigzip
examples/multicore_echo/multicore_echo
examples/sha256/sha256
examples/sha3/sha3
examples/simple_socket/simple_socket
examples/sshecho/sshecho
examples/tlsecho/tlsecho
examples/tuieffects/tuieffects
examples/tuimatrix/tuimatrix
fasmpp/fasmpp
hnwatch/hnwatch
rwasa/rwasa
rwasa/rwasa_tlsmin
sshtalk/sshtalk
toplip/toplip
util/bigint_tune
util/make_dh_static
util/mersenneprimetest
webslap/webslap
webslap/webslap_tlsmin
